

html {
    font-size:62.5%;
    // font-family:$primaryFont;
    scroll-behavior: smooth;
}

.headerWrapper{
    background: $primaryColor;
}


.btn {
    @include buttonStyle
}

body {
    @include primaryFont ($mediumFontSize);

    input, button, a {
        @include primaryFont($mediumFontSize);
    }

    footer {
        @include primaryFont($smallFontSize);
        letter-spacing:0;
    }

    }