

html {
    font-size:62.5%;
    scroll-behavior: smooth;
}

.btn {
    @include buttonStyle
}

body {
    @include primaryFont ($mediumFontSize);
    
    input, button, a {
        @include primaryFont($mediumFontSize);
    }
    
    footer {
        @include primaryFont($smallFontSize);
        letter-spacing:0;
        padding: 15px 0;
    }
    
    background: $primaryColorLighter;
}

.wrapper {
    max-width: 1500px;
    width: 1500px;
    margin: 0 auto;
}