#random {
    height: 100vh;
    max-height: 1000px;
    min-height: 600px;

    .header {
        margin: 0 auto;
        padding: 100px 0;
        text-align: center;
        width: 800px;
        
        h1 {
            color:$secondaryColor;
            font-size: $largeFontSize;

            letter-spacing:2px;
            text-align: center;
            font-family:$primaryFont;
            text-transform:uppercase;

            display: inline-block;

            span {
                font-size: $largeFontSize;
                display:block;
                text-align:center;
                text-transform:capitalize;
                font-family:$titleFont;
            }
        }

        img {
            width: 175px;
        }

        .searchBar {
            margin-right:2%;
            display: block;

            .input {
                background: $primaryColor;
                height: 60px;
                width: 300px;
                text-align: center;
                border: 1px solid darken($secondaryColor, 50);
                margin-right: 10px;
                border-radius:20px 20px;
                opacity:0.85;

                &::placeholder {
                    text-align: center;
                    color: $secondaryColor;
                }
            }

            .search {
                background: $primaryColor;
                color: $secondaryColor;
                opacity: 0.85;
                border-radius: 50%;
                border: 1px solid darken($secondaryColor, 50);
                width: 60px;

                .fas {
                    color: $secondaryColor;
                    opacity: 0.85;
                }
            }
        }
    }
}

input:focus {
    border:3px solid red;
}