.resultsSection {
    background: $primaryColorLight;
    // display:flex;     
    width:1 00%;
    height: 500px;
    text-align:center;
}

.restDetailsWrapper {
    text-align:left;
    width: 600px;
    margin: 0 auto
}

.restTitle {
    padding: 50px 0;
    margin:0;
    font-size:$largeFontSize;
    
}

.infoTitle {
    margin-right: 15px;
    color: $secondaryColor;
    opacity: 0.9;
}


#anotherSuggestion, #newSearch {
    @include buttonStyle;
    margin: 80px 20px 50px 20px;
    &:hover {
        background-color: $accentColor;
    }
    border: 1px solid $secondaryColor;

}


// .cuisineResults {
//     // min-height:100vh;
    
    
// }

footer {
    background:$primaryColor;
    text-align:center;
    padding:0.5% 0;
    
    p {
        margin:0;
        padding:0;
    }
}