.resultsSection {
    background: $primaryColorLight;
    // width: 100%;
    height: 100%;
    min-height: 500px;
    text-align: center;
    padding-bottom: 50px;
}

.restDetailsWrapper {
    text-align:left;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.hasContent {
    border: 1px solid $accentColor;
}

.restTitle {
    padding: 50px 0 30px 0;
    margin: 0 auto;
    font-size: $largeFontSize;
    width: 800px;
}

.infoDiv:first-child {
    margin-top: 0;
}
.infoDiv {
    margin-top: 15px;
}

.infoTitle {
    margin-right: 15px;
    color: $secondaryColor;
    opacity: 0.9;
    font-weight: 700;
    display: block;
}

#anotherSuggestion, #newSearch {
    @include buttonStyle;
    margin: 80px 20px 50px 20px;
    &:hover:enabled {
        background-color: $accentColor;
    }
    border: 1px solid $secondaryColor;

}

footer {
    background:$primaryColor;
    text-align:center;
    padding:0.5% 0;
    
    p {
        margin:0;
        padding:0;
    }
}