$primaryFont: 'Montserrat', sans-serif;
$titleFont: 'Noto Serif', serif;

$primaryColor: black;
$secondaryColor: whitesmoke;

// font sizes 
$smallFontSize: 1.4rem;
$mediumFontSize: 1.8rem;
$largeFontSize: 4.5rem;

